# Entorno
.env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Node
node_modules/
package-lock.json

# Herramientas de CSS
input.css
.parcel-cache

# IDEs
.vscode/
.idea/
